body{
    font-family: "Source Sans 3", sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(./img/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
nav{
    /* background-color: yellow; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2 1rem;
}

#left{
    /* background-color: red; */
    color: white;
    font-size:x-small;
    margin: 0%;
}
#right>#cont{
    /* background-color: blue; */
    color: white;
    align-items: center;
    display: flex;
    list-style: none;
    margin: 0;
    
}
#left>h1>span{
    font-weight: 100;
}
#cont>li>a{
    color: white;
    text-decoration: none;
    padding: 0.4rem 1rem;
    display: block;
}
#cont>li>a>button{
    
    background-color: rgba(255, 255, 255, 0.362);
    border:2px solid rgb(194, 191, 191);
    font-size: 1rem;
    padding: 0.2 1rem;
    border-radius: 5px ;
    color: white;
    background-color: transparent;
}
#menu{
    list-style-type: none;
    padding: 0;
    margin: 0;  
    background-color: rgb(237, 233, 233);
    position: absolute;
    width: 150%;
    top: 100%;
    right: 0%;
    display: none;
}
#drop{
    position: relative;    
}
#menu>li>a{
    text-decoration: none;
    color: grey;
    border-bottom: 2px solid rgba(128, 128, 128, 0.27);
    display: block;
    padding: 0.5rem;
}
#menu>li>a:hover{
    background-color: chocolate;
    color: white;
}
#drop:hover #menu{
    display:block ;
}
#down{
    background-color: rgb(237, 233, 233);
    
    margin: 0;
    padding: 0;
    position: absolute;
    right: 100%;
    top: 0%;
    list-style-type: none;
    display: none;%
    height: 20px;
    width: 100px;
}
#pull{
    position: relative;
}
#pull:hover #down{
    display: block;
}
#pull>#down>a:hover{
    background-color: chocolate;
    color: white;

}
a{
    text-decoration: none;
    color: white;
}
